<!DOCTYPE html>
<html>
  <head>
    <title>Benesse</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>


  <body>
    <div class="flex-container">
      <header>
        <h1 class="headline">MBTI キャリアガイド</a></h1>
      </header>

      <%= yield %>

      <footer class="flex-footer">
        <p><small>&copy; 2023 benesse hackathon team7</p>
      </footer>
    </div>
  </body>
</html>
